.side-menu {
  width: 200px;
  background: #2f3542;
  color: white;
  padding: 20px;
}

.menu-item {
  display: block;
  padding: 10px 0;
  color: #ecf0f1;
  text-decoration: none;
}
.menu-item.active {
  font-weight: bold;
  color: #1abc9c;
}
.menu-item:hover {
  color: #1abc9c;
}
